$header-footer-bg:#397175;
$main-secondary-color: #E8A510;
$main-btn-number-bg: #3D3641;
$main-btn-equals-bg:#274f69;
$main-btn-clear-bg:#a31b3d;
$main-btn-operation-bg:#575253;
$main-btn-color:#eeee;
$main-title-text-color: #f2f2f2;
$main-btn-color-hover: #000000;


.App{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

